!!!
%html
  %head
    %title Website Tester
    %link(rel="stylesheet" href = "assets/stylesheets/application.css")
  %body
    #wrapper
      #header
        %h1.main-heading Application Tester
      #content
        %br
        =yield
